@use "../utils/breakpoints.scss" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: var(--font-family);
}

body {
  width: 100%;
  height: 100vh;
  padding: 0 10vw;
  display: flex;
  flex-direction: column;

  @include breakpoint(tablet) {
    padding: 0;
  }
}

.show {
  visibility: visible;
  opacity: 1;
}
