@use "../utils/breakpoints.scss" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: var(--font-family);
}

body {
  padding: 0 10vw;
  @include breakpoint(tablet) {
    padding: 0;
  }
}
