:root {
  --orange: hsl(26, 100%, 55%);
  --lightOrange: hsl(25, 100%, 94%);
  --darkBlue: hsl(220, 13%, 13%);
  --grayBlue: hsl(219, 9%, 45%);
  --lightBlue: hsl(220, 14%, 75%);
  --lighterBlue: hsl(223, 64%, 98%);
  --light: hsl(0, 0%, 100%);
  --dark: hsl(0, 0%, 0%);
}
